body {
  margin:3%;
  font-family:  'Titillium Web', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f1f7 !important;
  color: #1995ad!important;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  position: relative;
}
h1{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Shadows Into Light', cursive !important;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el contenedor en dos columnas */
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
code {
  font-family: 'Titillium Web',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-text-color {
  color: #1995ad!important;
  font-weight: 600 !important;
  font-size: small!important;
  margin-left: auto!important;
  font-family: 'Shadows Into Light', cursive !important;
}
.custom-text-color:hover {
  color: #bcbabe!important;
}
.logo{
  font-size: large;
  color: #1995ad!important;
  font-family: 'Shadows Into Light', cursive !important;
}

@media (min-width: 769px) {
  .custom-dropdown-menu {
    background-color:#bcbabe !important;
    color: #1995ad !important;
    margin-left: 5%!important;
    padding: 0;
    width: 500px!important;
    height: 550px!important;
    font-family: 'Titillium Web',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      position: relative;
    z-index: 150;
  }
}
@media (max-width: 768px) {
  .custom-dropdown-menu {
    margin-left: 10%!important ;
    background-color: #bcbabe !important;
    width: 70%;/* Cambia la posición a estática para que fluya con el contenido */
    padding-bottom: 3em;
  }
}
.custom-dropdown-toggle {
  background-color: rgb(12, 10, 10)!important; 
  border-color: #ffffff!important; 
  color: #ffffff!important; 
  
}

.custom-dropdown-item {
  padding: 2%!important;
  font-family: 'Titillium Web',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  border-color: black!important;
}
.custom-dropdown-item:hover {
  color: #ffffff!important;
  background-color: #131111!important;
}

.desplegable{
  margin-top: 5%!important;
}
.carruselDeCartelera{
  margin-top: 1em;
  margin-left: 2em;
}
.carousel-item img {

  display: block!important;
  margin: 0 auto!important;

}




.footer{
  width: 100%;
  text-align: center;
  bottom:0;
  position:fixed;
  padding: 0;
  z-index: 999;
}
